@model seoWebApplication.Models.mProducts
  
@section OpenGraph { 
<!-- Open Graph data -->
<meta property="og:type" content="website" />
<meta property="og:title" content="@ViewBag.seoTitle at @ViewBag.storeName" />
<meta property="og:image" content="@Linkor.GetStoreUrl()/ProductImages/@Html.DisplayFor(model => model.thumbnail)" />
<meta property="og:site_name" content="@Linkor.GetStoreName()" />
<meta property="og:url" content="@Linkor.ToProduct(Model.product_id.ToString()).Replace(":80", "")" />
<meta property="og:description" content="@Html.DisplayFor(model => model.description)" />
<meta property="og:price:amount" content="@Html.DisplayFor(model => model.price)" />
<meta property="og:price:currency" content="USD" />
}
<div class="row">
    <hr> 
    <div class="large-5 columns">
        <div>
            <a href="" class="ProductLike" data-id="@Html.DisplayFor(model => model.product_id)">
                <div id="like_@Html.DisplayFor(model => model.product_id)"><i class="fa fa-heart">@Html.DisplayFor(model => model.LikesCount)</i></div>
            </a>
            <div class="fb-like" data-href="@Linkor.ToProduct(Model.product_id.ToString()).Replace(":80", "")" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
        <img src="/ProductImages/@Html.DisplayFor(model => model.thumbnail)">
    </div>
    <div class="large-5 columns">
        <h4>@Html.DisplayFor(model => model.name)</h4>
        <p>@Html.DisplayFor(model => model.description)</p>
        <div class="panel">
            <h5>$@Html.DisplayFor(model => model.price)</h5>
            <a target="_blank" href="@Html.DisplayFor(model => model.Url)" class="small button">View Offer</a>
        </div>
    </div>
</div>

<div>
    <div class="large-12 columns">
         @Html.Raw(HttpUtility.HtmlDecode(Model.Specifications))
    </div>
</div>

  
